.sheet.journal-entry .journal-entry-page,
.sheet.journal-entry .journal-entry-page form {
    height: 100%;
}

.sheet.journal-entry .journal-entry-page .edit-container {
    z-index: 300;
}

.window-app.whiteboard .window-resizable-handle {
    z-index: 200;
}

.window-app.whiteboard .window-content {
    padding: 0;
}

.tlui-help-menu {
    display: none;
}
