.sheet.journal-entry .journal-entry-page,
.sheet.journal-entry .journal-entry-page form {
    height: 100%;
}

.sheet.journal-entry .journal-entry-page .edit-container {
    z-index: 300;
}

.journal-whiteboard\.whiteboard .window-resizable-handle {
    z-index: 200;
}

.journal-whiteboard\.whiteboard .window-content {
    padding: 0;
}

.tlui-help-menu,
.tlui-menu-zone__divider,
.tlui-popover,
.tlui-layout__top {
    display: none;
}

.journal-whiteboard\.whiteboard button:hover, button:focus {
    box-shadow: none;
}

